<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.mozilla.scryer">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".ScryerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".ScryerService" />

        <activity
            android:name=".capture.SortingPanelActivity"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:taskAffinity="org.mozilla.choose_collection"
            android:theme="@style/SortingPanelTheme"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".detailpage.DetailPageActivity"
            android:theme="@style/DetailPageTheme" />
        <activity
            android:name=".capture.RequestCaptureActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleTask"
            android:taskAffinity="org.mozilla.scryer.request_capture_permission"
            android:theme="@style/Theme.AppCompat.NoActionBar.Translucent" />
        <activity
            android:name=".setting.SettingsActivity"
            android:exported="false"
            android:launchMode="singleTask" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider" />
        </provider>

        <activity android:name=".SvgViewerActivity" android:exported="false" />
    </application>

</manifest>