<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.mozilla.scryer">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="org.mozilla.scryer.ScryerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name="org.mozilla.scryer.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.mozilla.scryer.sortingpanel.SortingPanelActivity"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:taskAffinity="org.mozilla.choose_collection"
            android:theme="@style/SortingPanelTheme"
            android:windowSoftInputMode="adjustNothing" />

        <activity
            android:name="org.mozilla.scryer.detailpage.DetailPageActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/DetailPageTheme" />

        <activity
            android:name="org.mozilla.scryer.capture.RequestCaptureActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleTask"
            android:taskAffinity="org.mozilla.scryer.request_capture_permission"
            android:theme="@style/Theme.AppCompat.NoActionBar.Translucent" />

        <activity
            android:name="org.mozilla.scryer.setting.SettingsActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="org.mozilla.scryer.SvgViewerActivity"
            android:exported="false" />

        <service
            android:name="org.mozilla.scryer.ScryerService"
            android:exported="false" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider" />
        </provider>

    </application>
</manifest>